@tailwind base;
@tailwind components;
@tailwind utilities;

.headline{
    font-family: Comic Sans MS;
    text-shadow: 1px 3px 5px #414046;
}

.grid-suggestion{
    box-shadow: 1px 4px 8px #686770;
    width: 350px;
    height: 150px;
}

.grid-suggestion-image{
    height: 150px;
    width: 130px;
}

.text-font{
    font-family: Comic Sans MS;
}


.grid-container-weekplan{
    display: grid;
    grid-template-columns: 35% auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #D3F0EE;
    grid-gap: 5px;
    box-shadow: 1px 4px 8px #686770;
    border-radius: 25px;
    width: 250px;
    height: 80px;
    margin:auto;
}
.grid-item-weekplan-picture{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    size: 100rem;
    background-color: whitesmoke;
    border-radius: 25px 0px 0px 25px;
    height: 80px;
}
.grid-item-weekplan-recipe-name{
    padding-top: 20px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.background {
    background-color: teal;
    color: white;
}

.date {
    padding-left: 0.75rem;
    font-size: 1.125rem;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    border-radius: 9999px;
    margin: 0.5rem;
}

.add-button {
    position: absolute;
    size: 1rem;
    bottom: 0;
    right: 0;
    margin-right: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-image: url('../../../pictures/plus_button.png');
}
.grid-container-recipeDate{
    padding-left: 100px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
z-index: 9;
}

/* recipes  */

h1{
    font-size: 300%;
    color: white;
    text-align: center;
}

body::-webkit-scrollbar{
    display: none;
}

.search{
    margin: 5%;
}

form{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-top: 15%;

}

form input{
    border: none;
    -moz-border-radius: 10%;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 100%;
    color: #008d8d;
    font-weight: 600;
    padding: 2% 3% ;
}

form i{
    padding-left: 3%;
}

.product-list {
    padding: 6% 0 ;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 3%;
}

.product img{
    width: 25%;
    height: 25%;
    object-fit: cover;
    border-radius: 10%;
}

.product .p-details{
    padding-left: 5%;
}

.product .p-details h2{
    font-size: 170%;
    color: #ffff;
}

.recipe-list {
    padding: 6% 0 ;
}

.recipe{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 3%;
}

.recipe img{
    width: 25%;
    height: 25%;
    object-fit: cover;
    border-radius: 10%;
}

.recipe .r-details{
    padding-left: 5%;
}

.recipe .r-details h2{
    font-size: 170%;
    color: #ffff;
}

.link-to-recipes{
    color: white;
    text-decoration: none;
}



