.headline{
    text-align: center;
    font-family: Baloo2, cursive;
    font-weight: bold;
    text-shadow: 1px 3px 5px #414046;
    margin-top: 10%;
}
.grid-container-suggestions{
    display: grid;
    grid-template-columns: 35% auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: #D3F0EE;
    grid-gap: 5px;
    box-shadow: 1px 4px 8px #686770;
    border-radius: 25px;
    width: 350px;
    height: 150px;
    margin:auto;
}
.grid-item-suggestions-picture{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    border-radius: 25px 0px 0px 25px;
}
.grid-item-suggestions-recipe-name{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-item-suggestions-user{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
.grid-item-suggestions-date{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-item-suggestions-button-accept{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-suggestions-button-deny{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-suggestions-button-switch{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.menu-cover{
    width: 122px;
    height: 150px;
    border-radius: 25px 0px 0px 25px;
}
.suggestions-button{
    text-align: center;
    font-family: "Baloo2", cursive;
    background-color: #008080;
    color:white;
    border-radius: 25px;
    border-color: #008080;
    font-size: 12px;
    width: 65px;
    text-align: center;
}
.suggestions-recipe-name{
    font-size: 28px;
    color: #008080;
    font-family: "Baloo2", cursive;
    padding-top:15px;
    padding-left: 5px;
    margin:0;
}
.suggestions-user{
    font-size: 18px;
    color: #008080;
    font-family: "Baloo2", cursive;
    padding-left: 5px;
    margin:0;
}

.suggestions-date{
    font-size: 15px;
    color: #008080;
    font-family: "Baloo2", cursive;
    padding-left: 5px;
    margin:0;
}

